<h1>Dragon Ball Z</h1>
<hr>

<div class="row">
    
    <div class="col">
        <!-- imports characters module -->
        <app-characters [characters]="characters"></app-characters>

    </div>
    <div class="col form">
        <app-add-character [newCharacter]="newCharacter" [addCharacter]="addCharacter"></app-add-character>
        <!-- <h3>Agregar nuevo personaje:</h3>
        <hr>
        <form (ngSubmit)="addCharacter()">
            <input 
                type="text" 
                placeholder="Nombre"
                name="name"
                [(ngModel)]="newCharacter.name"
            >
            <input 
                type="number" 
                placeholder="Poder"
                name="power"
                [(ngModel)]="newCharacter.power"
            >
            <button type="submit">
                Agregar
            </button>
        </form> -->
    </div>
</div>